* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 10pt;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: auto;
  padding: 1em;
}

nav a {
  color: black;
  text-decoration: none;
}

nav img {
  height: 20px;
}

main {
  width: 50%;
  margin: auto;
  text-align: center;
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
}

input {
  width: 80%;
  padding: 1em;
  text-align: center;
  border-radius: 30px;
  border: 1px solid grey;
}

.btns {
  margin-top: 2em;
}

.btns button {
  padding: 1em;
  border: none;
}

footer {
  background-color: rgba(241, 233, 233, 0.582);
}

.footer_top {
  padding: 1em;
}

.footer_bottom {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
}

.left a {
  margin-right: 1em;
  color: black;
  text-decoration: none;
}

.right a {
  margin-right: 1em;
  color: black;
  text-decoration: none;
}

.language {
  padding: 2em;
}
a {
  text-decoration: none;
}
a hover {
  text-decoration: underline;
}
